<p>Special thanks to Pelisek (Little Den) the <a href="https://www.facebook.com/kocicipelisek/">Cat Cafe</a> in Brno that has helped me rekindle my love for cats.</p>

<p>This website was made by me, Charlie below.</p>

<p>Please visit my <a href="https://charliemowood.github.io/">portfolio</a> to find out more about me and my work.</p>
<div class="left">
<img src="https://s3-us-west-2.amazonaws.com/little-den-pictures/homepage.jpg" alt="picture of Charlie">
</div>
